// templates
%card {
  border: 1px solid #cecece;
  width: 100px;
  height: 150px;
  border-radius: 7px;
  position: relative;
  z-index: 2;
  transition: 0.5s;
  transform-style: preserve-3d;
  .card-wrapper {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #fff;
    padding: 5px;
    backface-visibility: hidden;
  }
  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://i.pinimg.com/originals/38/52/18/385218163958b5817ded6373dd9f01a6.png") center/cover;
    backface-visibility: hidden;
    transition: 0.5s;
    transform: rotateY(180deg);
    z-index: 2;
  }
}

%additionalCards {
  @extend %card;
  background-color: #00000030;
  border: 1px solid #88888875;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #00000050;
    svg {
      fill: #000000;
    }
  }
  svg {
    width: 50%;
    fill: #00000090;
    transition: 0.3s;
  }
}

// style
.table {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    @extend %card;
  }
  .card-add {
    @extend %additionalCards;
  }
  .card__move-reverse {
    @extend %additionalCards;
  }
  &__deck {
    position: absolute;
    top: 70px;
    right: 50px;
    display: grid;
    grid-template-columns: repeat(52, 0.5px);
    grid-template-rows: 100px;
    transform: rotate(315deg);
    .card {
      transform: rotateY(180deg);
      z-index: 3;
      &:last-child {
        transform: rotateZ(270deg) translateY(-50px);
        z-index: 2;
      }
    }
  }
  &__hand {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .player-hand {
    bottom: -50px;
    .card {
      overflow: hidden;
    }
    .chosen {
      border: 2px solid red;
      transform: translateY(-30px);
    }
  }
  .opposite-hand {
    top: 0px;
    // transform: translateX(-50%) rotateX(180deg);
    .card {
      // transform: rotateY(180deg);
    }
  }
  &__playground {
    width: 80%;
    display: grid;
    grid-template-areas: "playground";
    &_atk,
    &_def {
      display: grid;
      grid-area: playground;
      grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(100px, 100%/3)), 1fr));
      grid-gap: 30px 0;
    }
    &_def {
      .card {
        transform: rotate(10deg) translateX(30px);
      }
    }
    .card {
      justify-self: center;
      overflow: hidden;
    }
  }

  &__beaten {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    button {
      width: 100%;
      height: 100%;
      background-color: gray;
      border: 1px solid black;
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: rgb(108, 108, 108);
      }
      &:active {
        background-color: rgb(77, 77, 77);
      }
    }
  }
}
